%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: 1;
  padding: 1.3em 2em;
  text-decoration: none;

  &:hover {
    background-color: #ff3838;
    color: white;
  }
}
