@import 'neat-helpers'; // or '../neat/neat-helpers' when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 4;
// $max-width: em(1088);

// Neat Breakpoints
$medium-screen: 640px;
$large-screen: 860px;


$mobile: new-breakpoint(max-width em($medium-screen) 4);
$tablet: new-breakpoint(min-width em($medium-screen+1) max-width em($large-screen) 8);
$desktop: new-breakpoint(min-width em($large-screen+1) 12);

// $mobile:  new-breakpoint(min-width em($medium-screen) 4);
// $tablet:  new-breakpoint(min-width em($medium-screen + 1) max-width em($large-screen) 8);
// $desktop: new-breakpoint(min-width em($large-screen + 1) 12);

// $mobile:  new-breakpoint(max-width em($medium-screen) 4);
// $tablet:  new-breakpoint(min-width em($medium-screen + 1) max-width em($large-screen) 8);
// $desktop: new-breakpoint(min-width em($large-screen + 1) 12);

// $visual-grid: true;
// $visual-grid-color: yellow;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.5;
