.details(id="flat-#{flat.id}-details")
  .inner
    .map-outer
      .map= flat.static_map
    .description-outer
      .description
        = flat.description.html_safe
        .readmore
          = link_to "#", flat