/ p Укажите район, количество комнат и ценовой диапазон, чтобы получить самые подходящие для вас варианты.
section#finder
  a#finder-cleaner(href="#") очистить фильтр &#x2715;
  = form_tag flats_path, method: :get, remote: true do 
    .filters
      .viewport-split
        .address
          = text_field_tag :address, params[:address], placeholder: 'Улица и номер дома'
      .viewport-split
        .district
          = select_tag :district, 
            options_from_collection_for_select(@districts, :id, :shown_name, params[:district]), 
            prompt: 'Район'
        .type
          = select_tag :type, 
            options_from_collection_for_select(@types, :id, :shown_name, params[:type]), 
            prompt: 'Комнат'
      .viewport-split
        .price-from
          = select_tag :price_from, 
            options_for_select(@price_from_steps, params[:price_from]), 
            prompt: 'Цена "от"'
        .price-to
          = select_tag :price_to, 
            options_for_select(@price_to_steps, params[:price_to]), 
            prompt: 'Цена "до"'
      = hidden_field_tag :sort
      = hidden_field_tag :dir
      = submit_tag
