.flat(id="flat-#{flat.id}" class= cycle('odd', 'even') data-remote="true" data-url= flat_url(flat))
  .date= flat.actual_at_date
  .address= flat.address
  .district= flat.district.shown_name
  .type= flat.type.shown_name
  .price
    = flat.price 
    | &nbsp;руб
  .phone
    / = #link_to "Узнать телефон", "#", class: 'show-phone button', data: {modal: "login"}
    = flat.contact