#flats
  .header
    .date.desc(data-sort="actual_at") Дата
    .address(data-sort="address") Адрес
    .district(data-sort="district_id") Район
    .type(data-sort="type_id") Комнат
    .price(data-sort="price") Цена
    .phone Телефон
  #flats-grid
    .page(id="page-#{@flats.current_page}")
      = render @flats
  #pagination
    = render 'flats/pagination'