<%- if params[:page].present? %>
  $("#flats-grid").append("<div class='page' id='page-<%= @flats.current_page %>'><%= j(render @flats) %></div>"); 
<%- else %>
  $("#flats-grid").html("<div class='page' id='page-<%= @flats.current_page %>'><%= j(render @flats) %></div>"); 
  $('#finder').scrollHere()
<%- end %>

$('#page-<%= @flats.current_page %> .flat').flatDetails()
$('#page-<%= @flats.current_page %> .show-phone').modalize()
$("#pagination").html("<%= j(render 'pagination') %>");
