$('#flat-<%= @flat.id %>').after("<%= escape_javascript(render partial: 'details', locals: {flat: @flat}) %>");

$('#flat-<%= @flat.id %>-details').hide();

var img = new Image();
img.onload = function() {
  $('.ajax-loader').remove();
  $('#flat-<%= @flat.id %>-details').show();
  $('#flat-<%= @flat.id %>').scrollHere();
}

img.src = $('#flat-<%= @flat.id %>-map').attr('src');

