- meta og: { image: full_url(@flat.og_preview.url) }
#flat
  h2= @flat.address
  .flat-info
    .map= @flat.static_map
    .description
      table
        tr
          th Адрес
          td = @flat.address
        tr
          th Район
          td = @flat.district.name
        tr
          th Комнат
          td = @flat.type.name
        tr
          th Цена
          td = "#{@flat.price} руб."
        tr
          th Телефон
          td = @flat.is_promo? ? @flat.phone : @flat.contact
      p = @flat.description.html_safe
  .similar
    - @flat.similars.each do |similar|
      .similar-flat
        p = link_to similar.address, similar
        p = similar.district.name
        p = similar.type.name
        p = "#{similar.price} руб."
