section#benefits
  h2 Почему именно мы?
  .benefit
    .money
    .header У нас выгодно!
    / .details
      / p Очевидная экономия финансов и времени – два самых ценных ресурса, когда вам так необходима уютная крыша над головой. Вам не нужно платить бешенную комиссию за работу агентства и не нужно тратить время, пока подвернется более-менее удачный вариант, если вы ищете квартиру через друзей, знакомых и репосты.
  .benefit
    .fire
    .header У нас горячие предложения! 
    / .details
      / p Наша база постоянно обновляется и редактируется модераторами. Вы всегда получаете самую актуальную и достоверную информацию на сегодняшний день. Не получится так, что вы позвоните владельцу, а квартира уже месяц как сдана или вообще, больше не сдается. Только самые горячие и актуальные варианты.
  .benefit
    .thumb
    .header С нами удобно!
    / .details
      / p На сайте работает крайне простой и удобный процесс поиска подходящих именно вам вариантов жилья. Также вы можете выбрать тот способ оплаты, который полностью вам подойдет. Если у вас возникнут какие-либо трудности, то наша служба поддержки всегда готова придти к вам на помощь!
  .benefit
    .heart
    .header С нами приятно иметь дело!
    / .details
      / p На нашем сайте вы можете найти множество приятных бонусов и полезных моментов. Для вас мы подготовили целый раздел юридической помощи по вопросам аренды недвижимости; вы можете активировать пробную версию нашей базы и открыть один контакт, понравившейся вам квартиры абсолютно бесплатно!