footer#footer.magick-wrapper
  .inner
    .col
      | Наша группа &nbsp;
      = link_to 'ВКонтакте', "http://vk.com/sherlockhomez"
    .col
      ul
        li = link_to "Как оплатить", "#"
        li = link_to "Цены", page_path(:prices)
        li = link_to "О нас", page_path(:about)
        li = link_to "Контакты", page_path(:contacts)
    .col Sherlock Homes - ваш помощник в поиске сдаваемых в аренду доступных комнат и квартир. Никаких посредников и переплат! Только качественные и актуальные объявления!
    .col Просим принять во внимание, что все мы люди и все мы делаем ошибки. Наши менеджеры не являются исключением. Некоторые объявления в нашей базе могут оказаться устаревшими или не актуальными. В крайнем случае просим вас обратиться к службе поддержки.