#intro
  h2 Аренда квартир в Новосибирске
  p Поиск жилой площади в аренду еще никогда не был таким простым для вас. Никаких посредников и нереальных переплат! Только собственники и реальные предложения!
  = link_to 'Найти квартиру', root_path + '#finder', class: 'button big-button', id: "start-search"