section#hiw
  h2 Как это работает?
  p Штат наших менеджеров собирает и обрабатывает множество объявлений по всему интернету, оставляя только лишь актуальные объявления от собственников квартир. Таким образом создается постоянно обновляемая база данных отборных объявлений от собственников квартир. 
  p Наш сервис - это предоставление вам полного доступа к нашей тщательно подобранной базе данных. Вы с легкостью сможете найти необходимую вам квартиру или комнату, используя фильтры: по цене, району, количеству комнат, улице.
  p Используя нашу базу данных собственников по квартирам и комнатам города Новосибирска, вы без труда сможете в кратчайшие сроки подобрать себе самое качественное и доступное жилье, без лишних проблем и временных затрат.