#login.modal-wrapper
  a.modal-close(href="#") &times;
  .login-wrapper
    .login-inner
      .login-button-wrapper
        a.login-button.vk-btn(href="/auth/vkontakte")
          span.login-label Войти через ВКонтакте 
      .login-button-wrapper
        a.login-button.fb-btn(href="/auth/facebook")
          span.login-label Войти через Facebook
      .login-button-wrapper
        a.login-button.tw-btn(href="/auth/twitter")
          span.login-label Войти через Twitter
      p
        small Чтобы воспользоваться нашими услугами, пожалуйста, осуществите вход на сайт, используя одну из ваших любимых соцсетей