h3 Перенаправление на страницу оплаты, подождите...

p Если перенаправление не произошло, самостоятельно нажмите на кнопку "оплатить"

= liqpay_button @liqpay_request, title: "Оплатить"

coffee:
  $ ->
    $('#liqpay_form').submit()
