h2 Контакты

p Чтобы получить доступ к нашей базе данных квартир собственников и узнать детали по оплате, свяжитесь с нами, используя следующие контактные данные:

p 
  strong Вконтакте: 
  = link_to 'http://vk.com/nervercorameiro', 'http://vk.com/nervercorameiro'
p 
  strong Email: 
  | nervercorameiro@gmail.com

p Извините за причененные неудобства. В самом ближайшем времени сайт будет принимать оплату в автоматическом режиме.