#prices-table
  h2 Тарифные планы
  .prices
    .price-box
      = form_tag orders_path do
        = hidden_field_tag :amount, 99
        .header 1 день 
        .price 99 руб
        .body 
          p Подойдет если вы уверены в своих силах и не хотите тратить много времени на поиски квартиры или комнаты.
        - if user_signed_in? 
          = submit_tag "Купить", class: 'buy'
        - else
          = link_to "Купить", '#', class: 'buy register'
    .price-box.popular
      = form_tag orders_path do
        = hidden_field_tag :amount, 390
        .header 5 дней
        .price 390 руб
        .body 
          p Оптимальный выбор! За небольшую стоимость вы получите достаточно времени для поиска жилья!
        - if user_signed_in? 
          = submit_tag "Купить", class: 'buy'
        - else
          = link_to "Купить", '#', class: 'buy register'
    .price-box
      = form_tag orders_path do
        = hidden_field_tag :amount, 990
        .header 15 дней
        .price 990 руб
        .body 
          p Отлично подойдет тем, кто с особой тщательностью подходит к выбору. У вас будет достаточно времени для поиска лучшего варианта!
        - if user_signed_in? 
          = submit_tag "Купить", class: 'buy'
        - else
          = link_to "Купить", '#', class: 'buy register'
    .price-box
      = form_tag orders_path do
        = hidden_field_tag :amount, 1490
        .header 30 дней
        .price 1490 руб
        .body 
          p Тариф для тех кто ищет что-то спецефическое или наиболее привлекательное по качеству и цене! 
        - if user_signed_in? 
          = submit_tag "Купить", class: 'buy'
        - else
          = link_to "Купить", '#', class: 'buy register'
    .clearfix

  p Мы подошли с особой тщательностью к составлению наших тарифных планов для того, чтобы каждый смог найти для себя именно тот, который ему нужен. Вы можете выбрать как более дешевые тарифные планы, для быстрого поиска квартир и комнат, так и тарифы, предоставляющие больше времени для более тщательного поиска варианта.

  p После покупки определенного тарифа, вы сможете пользоваться нашей базой данных квартир и комнат сдаваемых непосредственно собственниками. Никаких ограничений не накладывается, вы сможете подбирать сколько угодно вариантов в любом районе города.