#login {
  text-align: center;
}

.login-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.login-inner {
  width: 300px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -150px;
}

.login-label {
  color: #fff; 
  border-left: 1px solid #fff;
  display: inline-block;
  text-align: center;
  width: 236px;
}

.login-button {
  line-height: 63px;
  display: inline-block;
  padding-left: 64px;
  opacity: .90;
  @include transition (opacity .2s ease-in 0s);
  &:hover {
    opacity: 1;
    @include transition (opacity .2s ease-in 0s);
  }
}

.vk-btn {
  background: #49638a asset-data-url("vk-s.png") no-repeat center left;
}

.fb-btn {
  background: #344590 asset-data-url("fb-s.png") no-repeat center left;
}

.tw-btn {
  background: #569ced asset-data-url("tw-s.png") no-repeat center left;
}

.login-button-wrapper {
  padding-bottom: 10px;
}