$benefits: money fire thumb heart;

#benefits {
  @include outer-container();
  @include row;
  .benefit {
    padding-top: 30px;
    font-size: 0.9em;
    text-align: center;
    .header {
      // font-weight: bold;
      padding-top: flex-gutter() * 3;
      // height: 5em;
    }
    .details {
      @include pad;
      // @extend .small-text;
    }
    @include media($mobile) {
      @include span-columns(4);
      @include omega;
    }
    @include media($tablet) {
      @include span-columns(4);
      @include omega(3n);
    }
    @include media($desktop) {
      @include span-columns(3);
    }
  }

  @each $benefit in $benefits {
    .#{$benefit} {
      background: asset-data-url("#{$benefit}.png") no-repeat center top;
      display: block;
      height: 125px;
    }
  }
}