#finder {
  @include outer-container();
  position: relative;
  // padding-top: 25px;
  .viewport-split {
    @include media($desktop) {
      @include span-columns(4, table);
    }
    @include media($tablet) {
      @include row(table);
      padding-top: flex-gutter();
    }
  }
  .filters {
    padding-top: 30px;
    input[type="submit"] {
      display: none;
    }
    @include media($desktop) {
      @include row(table);
    }
    @include media($tablet) {
      // @include span-columns(8);
    }
  }
  .address {
    padding-right: 1px;
    @include media($desktop) {
      @include span-columns(4, table);
    }
    @include media($tablet) {
      @include span-columns(8, table);
      // @include reset-display;
    }
    input {
      border: 1px solid $base-accent-color;
      @include border-top-radius(0);
      @include border-bottom-radius(0);
      margin: 0;
      padding: 1.5em;
      margin-bottom: -5px; // WTF: firefox bug
    }
  }
  .district, .type, .price-from, .price-to {
    padding-right: 1px;
    @include media($desktop) {
      @include span-columns(2, table);
    }
    @include media($tablet) {
      @include span-columns(4, table);
      // @include reset-display;
    }
    @include media($mobile) {
      padding-top: flex-gutter();
    }
  }
}

#finder-cleaner {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 0.8em;
}