#flats {
  @include outer-container;
  .header {
    background-color: #e1edb9;
    @include row(table);
    div[data-sort] {
      cursor: pointer;
      &.desc {
        background: asset-data-url("arrow-down.png") no-repeat right center;
      }
      &.asc {
        background: asset-data-url("arrow-up.png") no-repeat right center;
      }
    }
    .date, .type, .district, .address, .price, {
      border-right: 1px solid $base-background-color;
    }        
    .date, .type, .district, .address, .price, .phone {
      @include media($desktop) {
        @include span-columns(2, table);
        text-align: center;
        background-color: #e1edb9;
        padding: 1.5em 0;
      }
      
      @include media($tablet) {
        display: none;
      }
      @include media($mobile) {
        display: none;
      }
    }
  }
  .details {
    @include row(table);
    .inner {
      overflow: hidden;
      border: 1px solid $base-accent-color;
      @include row();
      .map-outer {
        @include media($desktop) {
          @include span-columns(6, table);
        }
        @include media($tablet) {
          @include span-columns(4, table);
        }
        @include media($mobile) {
          @include span-columns(4);
        }
        .map {
          img {
            display: block;
          }
        }
      }
      .description-outer {
        @include media($desktop) {
          @include span-columns(6, table);
        }
        @include media($tablet) {
          @include span-columns(4, table);
        }
        @include media($mobile) {
          @include span-columns(4);
        }
        position: relative;
        @include span-columns(6, table);
        vertical-align: top;
        .description {
          position: relative;

          @include media($desktop) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            .readmore {
              position: absolute;
              bottom: 20px;
              right: 20px;
            }
          }
          @include media($tablet) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            .readmore {
              position: absolute;
              bottom: 20px;
              right: 20px;
            }
          }
          @include media($mobile) {
            .readmore {
              display: block;
              text-align: right;
            }
          }
          @include pad;
          vertical-align: top;
          overflow-y: auto;
          font-size: 0.9em;
        }
      }
    }
  }
  .flat {
    cursor: pointer;
    @include media($desktop) {
      @include row(table);
    }
    @include media($tablet) {
      @include row;
      @include pad;
    }
    @include media($mobile) {
      @include row;
      @include pad;
    }
    &.even {
      background-color: #e1edb9;
    }
    .price {
      color: darken($base-accent-color, 20%)
    }
    &.expanded {
      background-color: $base-accent-color;
      color: #fff;
      .price {
        color: #fff
      }
    }
    .date, .type, .district, .address, .price, .phone {
      font-size: 0.9em;
      @include media($desktop) {
        @include span-columns(2, table);
        padding: 1.5em 0;
        vertical-align: middle;
      }
      @include media($tablet) {
        @include span-columns(4);
        @include reset-display;
        @include omega(2n);
        line-height: 2.5em;
      }
      @include media($mobile) {
        @include span-columns(4);
        @include reset-display;
        line-height: 2.5em;
      }
      text-align: center;
    }
  }
  .ajax-loader {
    text-align: center;
    img {
      margin: 50px;
    }
  }
}

#flat {
  .flat-info {
    @include outer-container;
  }
  .map {
    @include media($desktop) {
      @include span-columns(6);
    }
    @include media($tablet) {
      @include span-columns(4);
    }
    @include media($mobile) {
      @include span-columns(4);
    }
    img {
      border: 1px solid $base-accent-color;
    }
  }
  .description {
    @include media($desktop) {
      @include span-columns(6);
    }
    @include media($tablet) {
      @include span-columns(4);
    }
    @include media($mobile) {
      @include span-columns(4);
    } 
    .button {
      background: none;
      color: $base-accent-color;
      padding: 0;
    }
    table {
      margin: 0;
      margin-bottom: 1em;
    }
  }
  .similar {
    @include row;
    @include outer-container;
    margin-top: 40px;
  }
  .similar-flat {
    text-align: center;
    margin-bottom: 10px;
    @include pad;
    @include media($desktop) {
      @include span-columns(3);
    }
    @include media($tablet) {
      @include span-columns(4);
    }
    @include media($mobile) {
      @include span-columns(4);
    }
    background: $base-accent-color;
    cursor: pointer;
    color: #fff;
    font-size: 0.8em;
    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
}