#footer {
  .inner {
    @include outer-container();
    @include row;
    @include pad;
  }
  // height: 150px;
  color: #555;
  margin-top: 20px;
  background: #e0e5c0;
  .col {
    font-size: .80em;
    @include span-columns(3);
  }
}