html, body {
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  @include media($mobile) {
    font-size: 100%;
  }
}

h2, h3, h4, h5 {
  font-weight: normal;
  padding-bottom: flex-gutter() * 2;
  color: #777;
  text-align: center;
}

h2 {
  font-size: 1.6em;
}
// TODO: refactor using new views (mobile, table, desktop)
.navigation {
  background: asset-data-url("header.jpg") no-repeat;
}
.navigation {
  background-position: top center;
  @include row();
  margin-bottom: flex-gutter() / 2;
  @include media($desktop) {
    height: 400px;
  }
  @include media($tablet) {
    height: 400px;
  }
  .menu-wrapper {
    @include outer-container;
    padding: 0 flex-gutter();
    height: $nav-height;
    position: relative;
    #menu-toggler {
      float: right;
      line-height: $nav-height;
      @include media($desktop) {
        display: none;
      }
    }
    h1 {
      float: left;
    }
    .logo {
      @include hide-text;
      margin-top: 31px;
      width: 184px;
      height: 22px;
      display: inline-block;
      background: asset-data-url("logo.png") no-repeat center top;
    }
    a {
      font-size: 0.8em;
      color: #fff;
    }
    #menu {
      // background-color: $subnav-color;
      @include media($tablet) {
        background: rgba(50, 50, 50, 0.95);
      }
      @include media($mobile) {
        background: rgba(50, 50, 50, 0.95);
      }
      position: absolute;
      top: $nav-height;
      left: 0;
      right: 0;
      display: none;
      @include media($desktop) {
        display: inline;
        position: static;
        float: right;
        // background-color: $nav-color;
      }
      a {
        @include media($desktop) {
          // color: $nav-link-color;
          color: #FFF;
        }
        color: #FFF;
        display: block;
        text-align: center;
      }
      a:hover {
        color: #FFF;
        @include media($desktop) {
          color: #ccc;
        }
      }
      li {
        line-height: 4em;
        padding-left: 1em;
        @include media($desktop) {
          float: left;
          line-height: $nav-height;
        }
        &.divider {
          display: none;
          color: lighten($nav-link-color, 15%);
          @include media($desktop) {
            display: inline;
          }
        }
      }
    }
  }
}

.main {
  @include outer-container;
  @include pad;
  section {
    padding-bottom: flex-gutter() * 2;
  }
  // p { text-align: center;}
}

a.button {
  padding: 10px;
  color: #fff;
  background: $base-accent-color;
  &:hover {
    background-color: darken($base-accent-color, 2%)
  }
}

.button.big-button {
  padding: 20px 40px;
  font-size: 110%;
}

.small-text {
  font-size: 0.90em;
}

#intro {
  @include media($tablet) {
    // display: none;
  }
  @include media($mobile) {
    display: none;
  }
  width: 600px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  color: #fff;
  h2 {
    color: #fff;
    text-shadow: 0 0 4px #000;
  }
  p {
    padding-bottom: 40px;
    text-shadow: 0 0 4px #000;
  }
}

.mask {
  height: 100%;
  width: 100%;
  background: rgba(50, 50, 50, .4);
}

.clearfix {
  clear: both;
}

.nav-info {
  font-size: 0.8em; 
  color: #fff;
}