// SHAME!!!!!!!


.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  display: none;
}

.modal-close {
  position: absolute;
  right: 20px;
  font-size: 5em;
  line-height: 1em;
  color: #ccc;
  z-index: 99999999;
  &:hover {
    color: #999;
  }
}

.modal-content {
  @include outer-container();
  @include row();
  position: relative;
  height: 100%;
}

.modal-inner {
  @include media($mobile) {
    width: 125px;
    height: 515px;
  }
  @include media($tablet) {
    width: 600px;
    height: 220px;
  }
  @include media($desktop) {
    width: 600px;
    height: 220px;
  }
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}