#prices-table {
  @include outer-container();
  @include row;
  // margin-bottom: 3em;
  .prices {
    margin-bottom: 30px;
  }
  .price-box {
    @include media($desktop) {
      @include span-columns(3);
      @include omega(4n);
    }
    @include media($tablet) {
      @include span-columns(4);
      @include omega(2n);
    }
    @include media($mobile) {
      @include span-columns(4);
    }
    padding-right: 1px;
    margin-bottom: 20px;
  }
  .header {
    text-align: center;
    background: #e0e5c0;
    color: #888;
    line-height: 4em;
    height: 4em;
  }
  .price {
    line-height: 4em;
    height: 4em;
    text-align: center;
    background: #ff4e4e;
    color: #fff;
  }
  .body {
    // font-size: 0.8em;
    padding: 1.8em 1em;
    text-align: center;
    @include media($desktop) {
      height: 13em;
    }
    @include media($tablet) {
      height: 13em;
    }
    background: white;
  }
  .buy {
    text-align: center;
    display: block;
    background: #ff4e4e;
    color: #fff;
    line-height: 4em;
    height: 4em;
    width: 100%;
    padding: 0;
    font-weight: normal;
    @include border-top-radius(0);
    @include border-bottom-radius(0);
    @include border-left-radius(0);
    @include border-right-radius(0);
  }
  @include media($desktop) {
    .price-box {
      margin-top: 2em;
      margin-bottom: 2em;
      &.popular {
        margin-top: 1em;
        margin-bottom: 1em;
        .price, .buy {
          line-height: 6em;
          height: 6em;
          background: $base-accent-color;
        } 
        .body {
          height: 11em;
        }
        .header {
          color: #444;
        }
      }
    } 
  }
}

