.selectify {
  position: relative;
  .select {
    background-color: $base-accent-color;
    @include media($tablet) {
      &.select-active {
        background-color: #ff9696;
      }
    }
    @include media($mobile) {
      &.select-active {
        background-color: #ff9696;
      }
    }
  }
  .select, li {
    cursor: pointer;
    padding: 1.5em 0;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    &:hover {
      background-color: darken($base-accent-color, 2%)
    }
  }
  li {
    background-color: $base-accent-color;
    border-top: 1px solid $base-background-color;
    display: inline-table;
    width: 100%;
    &:last-child {
      border-bottom: 1px solid $base-background-color;
    }
  }
  ul {
    position: absolute;
    z-index: 999;
    width: 100%;
  }
}