doctype html
html
  head
    = metamagic site: "Аренда квартир в Новосибирске", title: [:title, :site], separator: " — "
    meta(name="viewport" content="width=device-width,initial-scale=1")
    = stylesheet_link_tag 'application', media: 'all'
    = google_webfonts_link_tag open_sans: [400], subset: 'cyrillic'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  body
    #wrap
      / Navigation
      header.navigation.magick-wrapper
        .mask
          .menu-wrapper
            h1
              a.logo(href="#{root_path}") Аренда квартир в Новосибирске
            nav
              = render_navigation
            a#menu-toggler(href="#") Меню
          = render 'shared/header'
      / Main
      .magick-wrapper
        .main(role="main")
          = yield
      - unless user_signed_in?
        = render "shared/login"
      = render "shared/footer"
      = render "shared/ga"


